name: awesome_bot

on:
  push:
    branches: [ '*' ]
  pull_request:
    branches: [ '*' ]
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - name: Set up Ruby 2.6
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: '2.6'
    - name: Checks
      run: |        
        gem install awesome_bot        
        awesome_bot --allow-redirect --allow-dupe --allow 503,403 --set-timeout 100 --white-list "environment.data.gov.uk" --white-list "open.canada.ca" --white-list "bom.gov.au" --white-list "gov.bc.ca" --white-list "www.epa.gov" --white-list "ontario.ca" --allow-ssl README.md
